@import "assets/scss/vars.scss";

:global {
	.MuiTabPanel-root {
		padding: 24px 0 !important;
	}

	.MuiDataGrid-root {
		background-color: #fff !important;
		border-radius: 17px !important;
		-webkit-border-radius: 17px !important;
		-moz-border-radius: 17px !important;
		-ms-border-radius: 17px !important;
		-o-border-radius: 17px !important;
		overflow: hidden;
	}

	.MuiDataGrid-main {
		& > div {
			&:last-child {
				display: none;
			}
		}
	}
}

.all_details {
	padding: 6px 10px !important;
	font-size: 12px !important;
	border-radius: 50px !important;
	-webkit-border-radius: 50px !important;
	-moz-border-radius: 50px !important;
	-ms-border-radius: 50px !important;
	-o-border-radius: 50px !important;
	text-transform: capitalize !important;
}

.time_frame_header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;

	span {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		border: 1px solid #e3e3e3;

		&::before {
			content: "";
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
		}

		&.normal {
			&::before {
				background-color: #2ec988;
			}
		}

		&.warning {
			&::before {
				background-color: #f5c62a;
			}
		}

		&.danger {
			&::before {
				background-color: #ef5656;
			}
		}
	}
}
